<h1>Session#login</h1>
<div class="columns">
  <div class="column is-half">
      <%= form_tag '/login' do  %>
      <div class="field">
        <%= label_tag :name, "Name", class: "label" %>
        <div class="control">
          <%= text_field_tag "name", "", class: "input" %>
        </div>
      </div>


      <div class="field">
        <%= submit_tag "Login", class: "button is-green" %>
      </div>
    <% end %>
  </div>
</div>
