<a href="<%= house_path(house) %>">
  <div class="column">
    <div class="title"><%= house.name %></div>
    <div class="subtitle"><%= house.calculate_points%> points</div>
    <img src="<%= house.img_url%>">
  </div>
</a>