<div class="columns">
  <div class="column has-text-centered">
    <h1 class="title is-size-1 has-text-weight-bold">Harold Hotter's House Hassles</h1>
  </div>
</div>
<style>
  body {
    background-image: url("<%= asset_url('hogwarts-harry-potter-bg.jpg') %>")
  }
  html, body {
    height: 100%;
  }
</style>