<div class="tile">
  <ul>
    <li>
      <span class="title">Familiar <i class="fas fa-paw"></i></span>
      <a href="<%= edit_character_familiar_path(@familiar) %>"><i class="fas fa-pen" alt="Edit your familiar"></i></a>
    </li>
    <li>Name: <%= familiar_name %></li>
    <li>Species: <%= @familiar.species %></li>
  </ul>
</div>