<div class="column is-one-fifth">
  <a href="<%= character_spell_path(@character, spell) %>">
    <div class="card" style="min-height: 175px">

      <header class="card-header">
        <p class="card-header-title">
          <%= spell.name %>
        </p>
        <% if spell.learned?(@character) && !current_page?(character_path(@character)) %>
          <div class="card-header-icon">*</div>
        <% end %>
      </header>
      <div class="card-content">
        <div class="content">
          <%= spell.effect %>
        </div>
      </div>

    </div>
  </a>
</div>