/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 /* Color helpers */

:root {
  --midnight-blue: rgb(18, 25, 56);
  --dark-blue: rgb(57, 73, 94);
  --medium-blue: rgb(119, 148, 171);
  --light-blue: rgb(148, 181, 193);
  --robins-egg: rgb(247, 255, 242);
}

/* Background color helpers */
.bg-midnight-blue {
  background-color: var(--midnight-blue);
}

.bg-dark-blue {
  background-color: var(--midnight-blue);
}

.bg-medium-blue {
  background-color: var(--medium-blue)
}

.bg-light-blue {
  background-color: var(--light-blue)
}

.bg-robins-egg {
  background-color: var(--robins-egg)
}

/* Text Color Helpers */
.text-midnight-blue {
  color: var(--midnight-blue);
}

.text-dark-blue {
  color: var(--midnight-blue);
}

.text-medium-blue {
  color: var(--medium-blue)
}

.text-light-blue {
  color: var(--light-blue)
}

.text-robins-egg {
  color: var(--robins-egg)
}

/* Navbar Styles */

.navbar, .navbar a, .navbar a:link {
  background-color: var(--midnight-blue) !important;
  color: var(--robins-egg) !important;
}

.navbar a:hover {
  background-color: var(--dark-blue) !important
}